body {
	overflow-x: hidden;
}
.espaciosenb {
	border-bottom: 10%;
}
.tituloproyecto {
	padding-left: 5%;
	width: 45%;
}
.negritatitulo {
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tituloinicial {
	padding: 2% 1% 2%;
	color: #681a5d;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-transform: uppercase;
}
.ContenedorTitulos {
	background-color: #e6e6e7;
	margin-top: 0;
	margin-bottom: 0;
}

.botonespantalladisp {
	background-color: #692561;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 5px 32px;
	margin-right: 25%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 12px;
}
.contenedordescripcion {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 5%;
}
.descripcioncaja {
	width: 50%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	text-align: justify;
	padding-left: 25%;
}

.negritatitulo {
	font-size: 14px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 3%;
}
.cajafinal {
	display: flex;
}
.participarcaja {
	float: right;
	margin-right: 8%;
	padding-left: 68%;
	margin-bottom: 3%;
}
.salirproyecd {
	margin-left: 8%;
	margin-bottom: 3%;
	float: left;
}
.datosdeladb {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 12px;
	background-color: rgb(240, 240, 240);
	width: 75%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
